/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/************************************************************************************ 
									Main Styles
 ************************************************************************************/

:root {
	--my-orange: #e8cf8d;
	--my-lightGrey: #E4E4E4;
	--my-veryLightGrey: #F1F1F1;
	--my-fbColor: #4267b2;
	--my-googleColor: #4285f4;
}

html {
	font-family: 'Open Sans', sans-serif;
	scroll-behavior: smooth;
	background: var(--my-veryLightGrey);
	box-sizing: border-box;
}

/* Section */
.login-section {
	width: 100vw;
	height: 100vh;
	display: flex;
	overflow: hidden;
}

.left-section {
	width: 35%;
	height: 100%;
	z-index: 2;
	box-shadow: 0 2px 20px 7px rgba(0,0,0,.11);
	background: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left-section-container {
	width: 70%;
	margin:	0 auto;
}

.left-section-container h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 2.1rem;
	text-align: center;
	text-transform: capitalize;
	color: #32454c;
}

.left-section-container form {
	width: 100%;
	padding: 20px;
	border-bottom: solid 1px rgba(50,69,76,.1);
	box-sizing: border-box;
}

.left-section-container input {
	display: block;
	width: 100%;
	border-radius: 3px;
    border: solid 1px rgba(50,69,76,.1);
    padding: 6px 20px;
    color: #6f7c81;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: .5px;
    box-sizing: border-box;
    margin:	15px 0 30px 0;
    font-size: 14px;
}

.left-section-container input[type="submit"] {
	box-shadow: 0 2px 12px -6px #ff5c62;
	text-transform: uppercase;
	transition: box-shadow .2s;
	background: #ff5c62;
	cursor: pointer;
	color: #FFF;
	transition: .5s;
}

.left-section-container input[type="submit"]:hover {
	opacity: .8;
}

.just-or {
	width: 35px;
	display: block;
	margin: 0 auto;
	background: #FFF;
	color: #6f7c81;
	text-align: center;
	position: relative;
	top: -8px;
}

.left-section-container ul {
	list-style: none;
}

.left-section-container ul li {
	width: 100%;
	height: 50px;
	border: 1px solid #4267b2;
	border-radius: 5px;
	display: flex;
	align-items: center;
	margin-top: 20px;
	overflow: hidden;
	background: #4267b2;
}

.left-section-container ul li:nth-child(2) {
	background: #4285f4;
	border: 1px solid #4285f4;

}

.left-section-container ul li a {
	text-decoration: none;
	display: block;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.left-section-container ul li a .social-media-link {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.left-section-container ul li a i {
	width: 20%;
	height: 100%;
	background: #FFF;
	font-size: 1.2rem;
	padding-top: 30px;
}

.left-section-container ul li:nth-child(2) a i{
	color: #4285f4;
}

.left-section-container ul li a p {
	width: 80%;
	color: #FFF;
	text-align: center;
}


.not-member {
	text-align: center;
	margin-top: 20px;
}

.not-member a {
	text-decoration: none;
	cursor: pointer;
	color: #ff5c62;
}

.right-section {
	width: 65%;
	background: url(../img/login2.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}











/************************************************************************************ 
									Responsive design
 ************************************************************************************/

/*Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
	.left-section {
		width: 50%;
	}

	.right-section {
		width: 50%;
	}
}


/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
	.left-section {
		width: 100%;
	}
	.right-section {
		display: none;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {

}

/* Small devices (landscape phones, 380px and up) */
@media screen and (max-width: 380px) {

}
